# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# https://super-calm.rajeswari-subramanian.vercel.app
# dependencies
/node_modules
/.pnp
.pnp.js
.env
user.json
admin.json
month.json
# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
